<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Venta de producto</title>
<link href="bootstrap.css" rel="stylesheet" media="all">
</head>
<body class="d-flex justify-content-center vh-100 align-items-center">
	<form th:action="@{/formProducto}" th:object="${producto}" method= "post" class="w-25 p-5 border border-success rounded shadow">
	<h1 align="center">Ingresar producto</h1>
	<label>Nombre del producto</label>
	<input type="text" th:field="*{nombre}" class="form-control">
	<span th:errors="*{nombre}" style="color : #E81505"></span><br>
	
	<label>Descripcion del producto</label>
	<input type="text" th:field="*{descripcion}" class="form-control">
	<span th:errors="*{descripcion}" style="color : #E81505"></span><br>
	
	<label>Precio del producto</label>
	<input type="number" th:field="*{precio}" class="form-control">
	<span th:errors="*{precio}" style="color : #E81505"></span><br>
	
	<label>Vencimiento del producto</label>
	<input type="text" th:field="*{vencimiento}" class="form-control">
	<span th:errors="*{vencimiento}" style="color : #E81505"></span><br>
	
	<input type="submit" value= "Agregar producto" class="btn btn-success w-100">
	</form>
</body>
</html>