<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Seguridad</title>
<link href="bootstrap.css" rel="stylesheet" media="all">
</head>
<body class="d-flex justify-content-center vh-100 align-items-center">
	<form th:action="@{/seguridad}" th:object="${robot}" method= "post" class="w-25 p-5 border border-success rounded shadow text-center">
	<label>Marcar solo si usted es un robot	</label>
	<input type="radio" th:field="*{soyRobot}" th:value="${false}">
	<span th:errors="*{soyRobot}" style="color : #E81505"></span><br>
	<input type= "submit" value="Aceptar" class="btn btn-dark w-100"><br>
	<a href="/producto">Regresar</a>
	</form>
	
</body>
</html>